*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
  margin-top: 80px;
  font-size: 8px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.card-details {
  display: grid;
}
label,
input,
button {
  margin: 5px 10px;
  cursor: pointer;
}
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}

.display>img{
    width: 500px;
    height: 300px;
    position: absolute;
}

.card-back{
    position: relative;
    margin-left: 200px;
}

.card-back > img {
    position: absolute;
    width: 300px;
    top: 50px;
    left: -40px;
}

#card-cvc{
    position: absolute;
    top: 120px;
    left: 190px;
    font-size: 1rem;
    color: hsl(270, 3%, 87%);
}

.card-front{
    position: relative;
}

.card-front > .card{
    position: absolute;
    width: 300px;
    top: 150px;
    left: 80px;
}

.card-front > img:nth-of-type(2){
    position: absolute;
    top: 170px;
    left: 100px;
    width: 60px;
    color: hsl(270, 3%, 87%);
}

.card-front > p:nth-of-type(1){
    position: absolute;
    top: 230px;
    left: 100px;
    font-size: 1.25rem;
    color: hsl(270, 3%, 87%);
}

.card-front > p:nth-of-type(2){
    position: absolute;
    top: 270px;
    left: 100px;
    font-size: .825rem;
    color: hsl(270, 3%, 87%);
}

.card-front > p:nth-of-type(3){
    position: absolute;
    top: 270px;
    left: 320px;
    font-size: .825rem;
    color: hsl(270, 3%, 87%);
}

.card-front > p:nth-of-type(4){
    position: absolute;
    top: 270px;
    left: 342px;
    font-size: .825rem;
    color: hsl(270, 3%, 87%);
}


.card-details{
    position: absolute;
    margin-top: 375px;
    width: 405px;
    display: grid;
    margin-left: 35px;
}

.card-details>label{
    color: hsl(278, 68%, 11%);
}

.card-details>input{
    padding: 15px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid hsla(279, 6%, 55%, 30%);
    margin-bottom: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.125rem;
}

.card-details>input::placeholder{
    
    color: hsl(279, 6%, 55%);
    opacity: 50%;
}

#month, #year, #cvc{
    padding: 13px;
    border-radius: 12px;
    border: 1px solid hsla(279, 6%, 55%, 30%);
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.125rem;
    
    margin-bottom: 10px;
}
#month, #year{
    width: 80px;
}
#month::placeholder, #year::placeholder, #cvc::placeholder{
    padding-left: 10px;
    opacity: 50%;
    color: hsl(279, 6%, 55%);
}
#year{
    margin-left: -10px;
}

#cvc{
    margin-left:-5px;
    width: 235px;
    position: absolute;
}
#cvc::placeholder{
    opacity: 50%;
}

button{
    margin-top: 700px;
    padding: 15px;
    border: none;
    background-color: hsla(278, 68%, 11%);
    color: rgba(255, 255, 255, 80%);
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.125rem;
    border-radius: 8px;
    width: 400px;
    margin-left: 45px;
}