*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
  margin-top: 80px;
  font-size: 8px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.card-details {
  display: grid;
}
label,
input,
button {
  margin: 5px 10px;
  cursor: pointer;
}
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}
/*card header seem to go down at success state*/
.display>#mobile-bg{
    width: 500px;
    height: 300px;
    position: relative;
}

.display>#desktop-bg{
    display: none;
}

.cardContainer{
    margin-top: -280px;
}

.card-back{
    position: relative;
    margin-left: 200px;
}

.card-back > img {
    position: absolute;
    width: 300px;
    top: 50px;
    left: -40px;
}

#card-cvc{
    position: absolute;
    top: 120px;
    left: 190px;
    font-size: 1rem;
    color: hsl(270, 3%, 87%);
}

.card-front{
    position: relative;
}

.card-front > .card{
    position: absolute;
    width: 300px;
    top: 150px;
    left: 80px;
}

.card-front > img:nth-of-type(2){
    position: absolute;
    top: 170px;
    left: 100px;
    width: 60px;
    color: hsl(270, 3%, 87%);
}

.card-front > p:nth-of-type(1){
    position: absolute;
    top: 230px;
    left: 100px;
    font-size: 1.25rem;
    color: hsl(270, 3%, 87%);
}

.card-front > p:nth-of-type(2){
    position: absolute;
    top: 270px;
    left: 100px;
    font-size: .825rem;
    color: hsl(270, 3%, 87%);
}

.card-front > p:nth-of-type(3){
    position: absolute;
    top: 270px;
    left: 320px;
    font-size: .825rem;
    color: hsl(270, 3%, 87%);
}

.card-front > p:nth-of-type(4){
    position: absolute;
    top: 270px;
    left: 342px;
    font-size: .825rem;
    color: hsl(270, 3%, 87%);
}


.card-details{
    position: absolute;
    margin-top: 375px;
    width: 405px;
    display: grid;
    margin-left: 35px;
    display: block;
}

.card-details>label{
    color: hsl(278, 68%, 11%);
}

.card-details>input{
    padding: 15px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid hsla(279, 6%, 55%, 30%);
    margin-bottom: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.125rem;
}

.card-details>input.wrong{
    border: 2px solid red;
}

.card-details>input::placeholder{
    
    color: hsl(279, 6%, 55%);
    opacity: 50%;
}


#month, #year, #cvc{
    padding: 13px;
    border-radius: 12px;
    border: 1px solid hsla(279, 6%, 55%, 30%);
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.125rem;
    
    margin-bottom: 10px;
}

#month.wrong, #year.wrong, #cvc.wrong{
    border: 2px solid red;
}

.name , .card-error{
    font-size: 12px;
    margin-top: -5px;
    margin-left: 20px;
    display: none;
}

.cvc-error{
    font-size: 10px;
    display: flex;
    margin-top: -5px;
    margin-left: 190px;

}
.month-error{
    margin-top: -15px;
    margin-left: 20px;
}

.year-error{
    display: flex;
    margin-top: -20px;
    margin-left: 105px;
}

.year-error, .month-error, .cvc-error{
    font-size: 10px;
    display: none;
}

.name.wrong, .card-error.wrong,
.cvc-error.wrong, .year-error.wrong, 
.month-error.wrong{
    display: block;
}

#month, #year{
    width: 80px;
}
#month::placeholder, #year::placeholder, #cvc::placeholder{
    padding-left: 10px;
    opacity: 50%;
    color: hsl(279, 6%, 55%);
}
#year{
    margin-left: -10px;
}

#cvc{
    margin-left:-5px;
    width: 235px;
    position: absolute;
}
#cvc::placeholder{
    opacity: 50%;
}

#submit{
    margin: 20px 0 0 10px;
    padding: 15px;
    border: none;
    background-color: hsla(278, 68%, 11%);
    color: rgba(255, 255, 255, 0.894);
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.125rem;
    border-radius: 8px;
}

#continue{
    margin: auto;
    padding: 15px;
    border: none;
    width: 300px;
    background-color: hsla(278, 68%, 11%);
    color: rgba(255, 255, 255, 0.894);
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.125rem;
    border-radius: 8px;
    z-index: 999;
}

.card-details.active{
    opacity: 0;
}


.completed h3{
    margin-top: -18px;
    letter-spacing: 3px;
}

.completed{
    width: 300px;
    height: 300px;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 999;
    place-items: center;
}

.completed.active{
    display: grid;
}

@media only screen and (min-width: 600px) {
    body{
        overflow-x: hidden;
    }
    #mobile-bg{
        display: none;
    }
    .display>#desktop-bg{
        display: block;
        height: 100%;
        width: 620px;
    }

    .cardContainer{
        margin-top: -10px;
    }

    .card-front{
        top: -1100px;
        left: 240px;
    }
    .card-front > .card{
        width: 450px;
    }

    .card-front > img:nth-of-type(2){
        width: 80px;
    }

    .card-front > p:nth-of-type(1){
        top: 290px;
        font-size: 1.6rem;
    }

    .card-front > p:nth-of-type(2){
        top: 355px;
        font-size: 1.15rem;
    }

    .card-front > p:nth-of-type(3), 
    .card-front > p:nth-of-type(4){
        top: 360px;
        left: 455px;
        font-size: 1.15rem;
    }
    .card-front > p:nth-of-type(4){
        left: 490px;
    }
    .card-back{
        top: -735px;
        left: 240px;
    }
    .card-back > img {
        width: 450px;
    }
    #card-cvc{
        top: 155px;
        left: 310px;
        font-size: 1.6rem;
    }
    .card-details{
        top: -100px;
        left: 1100px;
        width: 500px;
    }
    #month, #year{
        width: 120px;
    }
    #year{
        margin-left: 3px;
    }

    #cvc{
        margin-left: 3px;
        width: 235px;
    }

    #label-cvc{
        margin-left: 115px;
    }
    .year-error{
        margin-left: 160px;
    }
    .cvc-error{
        margin-left: 290px;
    }

    .completed.active{
        display: grid;
        margin-top: -850px;
        margin-right: 250px;
        width: 500px;
    }

}
